body{
    font-family: open sans, sans-serif;
    color:#404e67 !important;
}
.card{
    font-family: open sans, sans-serif;
}

/* ---------------------------------------------------
   Right SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 8%;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #3191b6;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
    box-shadow: 0 0 11px rgba(0,0,0,.50);
    overflow: hidden;
}
.left_sidebar{
    width: 300px;
    position: fixed;
    top: 8%;
    right: 0;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #0ac282;
    transition: all 0.3s;
    z-index: 1;
    box-shadow: 0 0 11px rgba(0,0,0,.50);
}
.circle{
    font-size: 9px;
    line-height: 2 !important;
}
.sidebar:hover{
    overflow-y: none;
}


.sidebar.active {
    margin-left: -250px;
}
.left_sidebar.active {
    margin-right: -300px;
}

.sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

.sidebar ul.components {
    padding: 20px 0;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}



.dropdown{
    cursor: pointer;
}
.dropdown-menu{
    box-shadow: 0 0 11px rgba(0,0,0,.13);
    border: none !important;


}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3191b6;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    color: #fff !important;
    transition: 1s ease;
}
@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
    .sidebarCollapse span {
        display: none;
    }
    .sidebarCollapse_1 span {
        display: none;
    }
}
/* end of right sidebar */

/* navbar */
.wrapper .bg-light{
    background-color: #3191b6 !important;
    width: 102% !important;
    box-shadow: 0 0 11px rgba(0,0,0,.13);
    z-index: 2  ;
    margin-left: -1%;
}
.wrapper .collapse img{
    height:50px;
    width:100px;
}
.upper_Layer{
    width: 250px;
    height:57px;
    top:0;
    left:0;
    position: fixed;
    z-index: 100;
    background: white;
}
.fullscreen_color, .name_color{
    color: white !important;
}
.material-icons{
    cursor: pointer;
}
.navbar-toggler{
    border: none !important;
}
.toggler_img{
     height: 50px;
     width: 100px;
 }
 @media (max-width: 768px) {
    .wrapper .bg-light{
        background-color: white !important;
        color: black !important;
    }
 }
/* end of navbar */

/* Sidebar Profile */
.Sidebar_card img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.Sidebar_card{
    width: 250px !important;
    border: none !important;
    background-color: #404e67 !important;
}
.side_card .card-body{
    color:#dcdcdc;
}
.card-body button{
    margin: 0 auto;
}
.sidebar ul li a{
    font-size: 14px;
    text-decoration: none;
    color: #dcdcdc;
}
.sidebar ul li a.active{
    color:white;
    border-left:2px white solid;
}
.nav{
    display: block !important;
}
.sidebar ul li a:hover{
    color: white;
}


/* Content */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 1;
    right: 0;
}

#content.active {
    width: 100%;
}
@media (max-width: 768px) {
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }

}
    /* End of content */

    /* create_virtual_recruitment Form */
.form_content{
    background: white;
    border-radius: 1%;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);

}
.form_content form label, .form_content form input{
    color: #141a27;
    font-size: .9rem;
}

/* feather icon  */
.feather{
    width: 16px;
    height: 18px;
    margin-bottom: 1%;
    cursor: pointer;
}



.dropdown-color{
    color:white !important;
    background-color: #01a9ac !important;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #01a9ac !important;
    border-color: #01a9ac !important;
}
.page-link{
    color: #404e67 !important;
}
.paginate_button{
    padding :0px !important;
    margin-left : 0px !important;
}
.paginate_button:hover{
    border:transparent !important;
    background: none !important;
}

/* end of user contact tab */
/* Search Expand */
.expand {
    outline: none;
    border: none !important;
}
input[type=search] {
	-webkit-box-sizing: content-box;
}
#demo-2{
    display: inline;
    margin-top: 2% !important;
}


input[type=search] {
    background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    background-color: white;
	border: solid 1px #ccc;
    /* padding: 8px 30px 0px 0px; */
    position: relative;
    bottom: 10% !important;
    padding-right:30px;
    padding-left:30px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #dcdcdc !important;
	border-color: none !important;
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
    width: 130px;
    font-size: 13px;
    padding-left: 32px !important;
    padding: 5px;
	color: #353c4e;;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
    color: transparent;
    padding: 50px !important;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
.dropdown-toggle::after {
    display:none !important;
}

/* jobseeker*/
.card_background{
    border-radius: 3% !important;
    border: none !important;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}
.card_header_color{
    background: white !important;
    border: none !important;
}
.icon_background{
    color: white;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    margin-top: -20px;
    border-radius: 4%;
    margin-right: 15px;
    float: left;
}
.icon_background_1{
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}
.icon_background_2{
    background: linear-gradient(60deg, #66bb6a, #43a047);
}
.icon_background_3{
    background: linear-gradient(60deg, #ef5350, #e53935);
}
.icon_background .material-icons{
    font-size: 36px;
}
/* end of jobseeker */
.modal-backdrop {
    display:none;
}


/* Start of kruszz index page */
.container-fluid .card{
    color: white;
    font-weight: bold;
}
.card_1{
    background-color: #1783cc !important;
}
.card_2{
    background-color: #61cd72 !important;
}

.card_3{
    background-color: #e74b2e !important;
}

.card_4{
    background-color: #f8b034 !important;
}
.jumbo_color{
    background-image: linear-gradient(to right, blue, black)
}
.dt-buttons{
      display: inline-block;
    }
